.cSH-open-indicator, .cSH-panel, image, label {
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

image, label {
  transition-property: color;
}

.cSH-panel {
  padding-top: 2px;
  padding-bottom: 3px;
	transition-property: background;
}

.dark .cSH-panel separator {
	background: shade(white, 0.18);
	margin-top: 2px;
}

.dark .cSH-panel {
  background: alpha(black, 0.7);
}

.light .cSH-panel {
  background: alpha(white, 0.6);
}

.dark .cSH-panel.opaque {
  background: black;
}

.light .cSH-panel.opaque {
  background: white;
}

.shadow {
	min-height: 8px;
	background: linear-gradient(transparent, alpha(black, 0.1));
}

.shadow-inv {
	min-height: 8px;
	background: linear-gradient(alpha(black, 0.1), transparent);
}

.cSH-open-indicator {
  border-radius: 5px;
	transition-property: background, min-width, opacity;
	min-width: 10px;
	opacity: 1;
}

.cSH-open-indicator.active {
  background: @theme_unfocused_fg_color;
}

.cSH-open-indicator.focused {
  background: @theme_fg_color;
  min-width: 30px;
}

@keyframes alert-anim {
  from { }
  to { background: @warning_color; }
}

.cSH-open-indicator.alert {
  animation-name: alert-anim;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.notification {
	border-radius: 5px
}

.dark .notification {
	background: shade(@theme_bg_color, 0.8);
}

.light .notification {
	background: shade(@theme_bg_color, 0.88);
}

.notification box.linked button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button.cctoggle  {
	background: shade(@theme_bg_color, 0.8);
	transition-duration: 150ms;
}

button.cctoggle:checked {
	background: shade(@theme_selected_bg_color, 0.85);
}
